* {
	position: relative;
	box-sizing: border-box;
}

body {
	overflow: hidden scroll;
}

#membrane {
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 10;
}

h1, h2, h3, h4, h5, h6 {
	color: rgb(108, 151, 43);
	text-align: center;
	font-family: 'Cabin Sketch', cursive;
	font-weight: bolder;
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: 250%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 120%;
}

p {
	color: rgb(96, 135, 38);
	text-align: center;
	margin: 5px 0px;
}

a {
	cursor: pointer;
}

/*漢堡鈕動畫start*/

#realNav #iconBar {
	height: 40px;
}

/*控制漢堡鈕三條線的樣式, 粗細、顏色...等*/
#realNav .icon-bar {
	width: 25px;
	height: 4px;
	border-radius: 30px;
	background: rgb(219, 77, 120);
	display: block;
	margin-top: 4.5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

#realNav .navbar-toggler {
	border: none;
}
<<<<<<< HEAD

/*轉換成x */
#realNav .icon-bar:nth-of-type(1) {
	transform: rotate(-135deg);
	margin: 11px 0 -17px 0;
}
#realNav .icon-bar:nth-of-type(2) {
	transform: rotateY(90deg);
	top: 0.5rem;
}
#realNav .icon-bar:nth-of-type(3) {
	transform: rotate(135deg);
	margin-bottom: 12px;
}

/*轉換前 三 */
#realNav .collapsed .icon-bar:nth-of-type(1) {
	transform: rotate(0);
	margin: 0px;
}
#realNav .collapsed .icon-bar:nth-of-type(2) {
	transform: rotateY(0);
	top: 0px;
}
#realNav .collapsed .icon-bar:nth-of-type(3) {
	transform: rotate(0);
	margin-bottom: 0px;
	top: 0px;
}

/*轉換成x */
#realNav .icon-bar:nth-of-type(1) {
	transform: rotate(-135deg);
	margin: 11px 0 -17px 0;
}
#realNav .icon-bar:nth-of-type(2) {
	transform: rotateY(90deg);
	top: 0.5rem;
}
#realNav .icon-bar:nth-of-type(3) {
	transform: rotate(135deg);
	margin-bottom: 12px;
}

/*轉換前 三 */
#realNav .collapsed .icon-bar:nth-of-type(1) {
	transform: rotate(0);
	margin: 0px;
}
#realNav .collapsed .icon-bar:nth-of-type(2) {
	transform: rotateY(0);
	top: 0px;
}
#realNav .collapsed .icon-bar:nth-of-type(3) {
	transform: rotate(0);
	margin-bottom: 0px;
	top: 0px;
}
/*漢堡鈕動畫end*/


#fakeNav li {
	height: 25vh;
}

#fakeNav .nav-link {
	height: 100%;
	font-family: 'Cabin Sketch', cursive;
	font-size: 2rem;
	font-weight: bolder;
	color: rgb(255, 153, 184);
	border: 1px red solid;

}
/*漢堡鈕動畫end*/


#realNav .nav-link:hover,
#fakeNav .nav-link:hover {

	color: rgb(255, 71, 126);
}

#fakeNav .nav-link > span {
	display: inline-block;
	top: 50%;  /* 可上下移動+-20% */
	transform: translateY(-50%);
	border: 1px black solid;
}

#realNav {
	height: 60px;
	background: rgba(255,255,255,1) !important; 
	box-shadow: 0px 8px 13px rgba(255,255,255,1);
	font-family: 'Cabin Sketch', cursive;
	font-size: 100%;
	font-weight: bolder;
	z-index: 10;
}

#realNav .nav-link {
	color: rgb(255, 153, 184);
	width: 100%;
	font-size: 130%;
	background: white;
	border-top: 0.5px solid rgba(219, 77, 120, 0.3);
}

#realNav li:last-child {
	box-shadow: 0px 15px 20px rgba(255, 255, 255, 1); 
}

#realNav .navbar-brand {
	color: rgb(219, 77, 120);
	font-size: 150%;
	height: auto;
	text-align: left;
	padding: 0px;
	margin: 3px 0px 7px 0px;
	top: 50%;
	transform: translateY(-50%);
}

section {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	min-height: 100vh;
	height: 1px;
	opacity: 0;
}



#about img {
	height: 24px;
	width: 24px;
}

#about > h2 {

}

#about p {
	opacity: 0;
}



#experience ul{
	color: rgb(96, 135, 38);
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);
}

#experience .odd {
	left: -10%;
	opacity: 0;
}

#experience .even {
	right: -10%;
	opacity: 0;
}

#skill {
	opacity: 0;
}

#skill > div { /* #skillBorder 最底層*/
	min-height: 70vh;
	height: 200px;
	width: 85vw;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
	background-image: linear-gradient( -45deg, 
					  rgb(180, 215, 126), rgb(180, 215, 126), rgb(136, 172, 83), 
					  rgb(136, 172, 83), rgb(180, 215, 126), rgb(180, 215, 126), 
					  rgb(180, 215, 126), rgb(255, 255, 255), rgb(255, 255, 255));
}

#skill > div > div { /* #skillCtn */
	position: absolute;
	height: calc(100% - 10px);
	width: calc(100% - 10px);
	border-radius: 10px;
	background-color: white;
	top: 5px;
	left: 5px;
	z-index: 1;
}

#skill > div > div > div { /*h4的外層*/
	position: relative;
	height: 20%;
	text-align: center;
}

#skill h4 {
	background-color: rgba(255, 255, 255, 1);
	display: inline-block;
	position: absolute;
	width: 0px;
	padding: 5px 0px;
	margin: 0px;
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
	font-weight: bolder;
	opacity: 0;
}

#skill > div > div > div:nth-child(1) h4 {
	border-color: rgb(147, 185, 91);
	color: rgb(147, 185, 91);
}

#skill > div > div > div:nth-child(2) h4 {
	border-color: rgb(173, 210, 116);
	color: rgb(173, 210, 116);
}

#skill > div > div > div:nth-child(3) h4 {
	border-color: rgb(164, 196, 115);
	color: rgb(164, 196, 115);
}

#skill > div > div > div:nth-child(4) h4 {
	border-color: rgb(162, 199, 107);
	color: rgb(162, 199, 107);
}

#skill > div > div > div:nth-child(5) h4 {
	border-color: rgb(173, 210, 116);
	color: rgb(173, 210, 116);
}

#skill > div > div > div:nth-child(1) h4,
#skill > div > div > div:nth-child(3) h4,
#skill > div > div > div:nth-child(5) h4 {
	left: -6px;
	border-radius: 0px 10px 10px 0px;
	border-width: 0px;
	border-style: solid;
	border-left: 5px solid rgba(255, 255, 255, 0);
	
}

#skill > div > div > div:nth-child(2) h4,
#skill > div > div > div:nth-child(4) h4 {
	right: -6px;
	border-radius: 10px 0px 0px 10px;
	border-width: 0px;
	border-style: solid;
	border-right: 5px solid rgba(255, 255, 255, 0);
}




#portfolio {
	min-height: 100vh;
}

#portfolio > div {
	margin-bottom: 30px;
}

#portfolio h1:first-child {
	margin-bottom: -10px;
}

#portfolio h1:last-child {
	margin-top: 20px;
}

#portfolio > div > img,
#portfolio > div > a > img {
	width: 90%;
	left: 50%;
	transform: translateX(-50%);
}

#portfolio .pAnimate {
	top: 40px;
	opacity: 0;
}

