
@media only screen and (min-width: 576px) {
	#skill > div {
		width: 65vw;
	}
}
	
	
@media only screen and (min-width: 768px) {
	#realNav .nav-link {
		font-size: 180%;
	}
	
	#realNav {
		min-height: 12vh;
		height: 90px;
		font-size: 100%;
	}
	
	#realNav ul {
		left: 0%;
		transform: translateX(0%);
	}

	#realNav .nav-link {
		float: left;
		width: auto;
		margin: 0px 10px;
		font-size: 150%;
		border-top: none;
	}
	
	#realNav li:last-child {
		box-shadow: none;
	}

	#realNav .navbar-brand {
		margin: 7px;
		top: 0%;
		transform: translateY(0%);
	}

	
	
	#skill > div {
		width: 45vw;
	}
}
	


@media only screen and (min-width: 992px) {
	#realNav ul {
		left: 35%;
		transform: translateX(-50%);
	}
}
	
	
	
@media only screen and (min-width: 1200px) {
	
}